/* UTILITIES */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0
}

html {
    scroll-behavior: smooth;
}

.flex {
    display: flex;
}


.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.min-h {
    min-height: 100vh;
}

.padding {
    padding: 23px;
}


/* STYLE */

body {
    background-color: #1f1f1f;
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-color: red;
    width: 70vw;
}

.wrapper {
    flex-direction: row;
}


/* SECTIONS */


/* HEADER */
header {
    background-color: #121212;
    color: #dadfe1;
}


/* NEW NAVBAR */

.menu {
    min-width: 100%;
}


.menu-logo {
    font-size: 1.5em;
}


.menu-col a {
    font-size: 1.4rem;
    text-decoration: none;
    color: #dadfe1;
    position: relative;
}

.menu-col a:hover {
    color: #dadfe1;
}

.menu-col a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #dadfe1;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.menu-col a:hover::before {
    transform: scaleX(1);
}

.menu-col {
    min-width: 20%;
}


/* SECTION - ABOUT US */
.about {
    background-color: #1f1f1f;
    color: #dadfe1;
    min-height: 50vh;
}

.about h3 {
    padding: 23px;
    font-size: 2rem;
}

.about-img {
    max-width: 100%;
    min-height: 100%;
}

.about-img img {
    width: 100%;
}

/*  SECTION - CHOICE */

.choice {
    background-color: #121212;
    color: #dadfe1;
}

/* SECTION - CAR PARK */
.carpark {
    background-color: #1f1f1f;
    color: #dadfe1;
}

.car-img img {
    max-width: 90%;
}

/* HOVER EFFECT FOR CARPARK */


.carpark-img {
    position: relative;
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    pointer-events: none;
}

.carpark-img:hover .image {
    opacity: 0.1;
    filter: blur(2px);
}

.carpark-img:hover .overlay {
    opacity: 1;
}

.carpark-img:hover .text {
    opacity: 1;
}

.text {
    color: white;
    font-size: 0.7em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}



/* SECTION - CONTACTS */

.contactus {
    background-color: #121212;
    color: #dadfe1;
}

.col1 {
    flex: 30%;
    text-align: left
}

/* FOOTER */

footer {
    background-color: #1f1f1f;
    ;
    color: #dadfe1;
}


/* MISC */

hr {
    margin-top: 15px;
    margin-bottom: 15px;
}


.cols-3 h2 {
    text-align: center;
    padding-bottom: 10px;
}

.cols-3 {
    flex: 33.33%;
    padding: 10px;
    text-align: justify;
    text-align: center;
}














/* SMALL SCREENS */

@media screen and (max-width: 992px) {

    .container {
        width: 90vw;
    }
    .wrapper {
        flex-direction: column;
    }

    /* HEADER */

    .navbar {
        padding:10px;
    }
    .menu-col {
        text-align: center;
        padding: 0;
        margin: 0;
        margin-top:3px;
    }

    .menu-col a {
        font-size: 1rem;

    }

    .menu-logo {
        order: -1;
        flex: 1 0 100%;
        padding-top:0;
        margin-bottom: 13px;
    }

    /* CAR PARK */

    .text {
        font-size: 0.8rem;
    }

    /* CONTACTS */

    .contact-container {
        flex-direction: column;
    }










}