@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:#483434;
    text-decoration: none;
}

body {
    background-color: gray;
    font-family: 'Nunito', sans-serif;

}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    color:#483434;
}

.col-left {
    
    background-color: bisque;
    padding:5%;
    flex:3
}


.col-left h2 {
    font-size:4rem;
    margin-top:10%;
}

.col-right {
    background-color: darkgray;
    flex:2
}

.col-right img {
    max-height: 100vh;
    position: fixed;
}

.subscribe {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    background-color: #FFF3E4;
    height:50px;
    margin-top:2%;
    border-radius:50px;

}

.sub-input {

    display: flex;
    align-items: center;
    text-align: center;
    min-height:100%;
    border-radius: 50px 0px 0px 50px;
    flex:4;
}

.sub-input input {
    border-radius: 50px 0px 0px 50px;
    border:none;
    outline:none;
    background-color: #FFF3E4;
    height:50px;
    width:100%;
    padding-left:10%;
    font-size:20px;
    color:#6B4F4F;
    font-family: 'Nunito', sans-serif;
    /* font-weight: bolder; */
}

.sub-input input:focus {
    border:none;
    outline:none;
}
.sub-button {
    outline:none;
    display: flex;
    align-items: center;
    text-align: center;
    min-height:100%;
    border-radius: 50px;
    flex:1;
}
.sub-button input {
    border-radius: 50px;
    border:none;
    outline:none;
    background-color: #6B4F4F;
    color: bisque;
    height:50px;
    width:100%;
    font-size:2rem;
}

.msg-error {
    font-style: italic;
    width:100%;
    text-align: left;
}



@media screen and (max-width: 700px) {

    body {
        background-image: url(../images/coffee.jpg);
        backdrop-filter: blur(3px);
        background-size: cover;
    }

    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .col-left {
        margin:9%;
        padding:5%;
    }

    .col-left h2 {
        font-size:2.5rem;
    }

    .col-left h1 {
        text-align:center;
    }

    .col-right {
        display:none;
    }

}